.App {
  background-color: #21262c;
  color: white;
}

.App-header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-statistics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: calc(15px + 2vmin);
}

.App-line-chart {
  background-color: #21262c;
  font-size: calc(10px + 2vmin);
  flex-grow: 4;
  position: relative;
  height: 35vh;
}

.App-trading-record-view {
  flex-grow: 1;
}

.App-trading-record-view-title {
  font-weight: bold;
  font-size: calc(7px + 2vmin);
}
